@use '@angular/material'as mat;
@use 'colors'as clr;
@use 'mixins'as mix;
@use 'variables'as var;

.header {
  @include mat.elevation(6);
  align-items: center;
  background-color: clr.$brand-color;
  display: flex;
  height: var.$header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &-title {
    @include mix.font-size(large);
    padding: 0 var.$default-spacing;
    margin: auto;
    width: var.$section-max-width-desktop;

    @include mix.media(tablet) {
      padding: 0 var.$default-spacing-tablet;
    }

    @include mix.media(desktop) {
      padding: 0 var.$default-spacing-desktop;
    }
  }
}

main {
  background-color: clr.$bg-main-light-color;
  min-height: calc(100% - var.$header-height);
  padding-top: var.$header-height;
}